@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.text-primary{
    color: #4844bc;
}

.text-second{
    color: #ff7404;
}

.btn-main{
    color: #fff;
    background-color: #4844bc;
    border-radius: 8px;
    outline: none;
    border: none;
}

body{
    font-family: "Lato",sans-serif;
}